<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Добавить сотрудника</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="d-flex flex-column min-vh-100" style="background-color: #dadafc">
<div th:insert="blocks/nav :: nav"></div>
<main class="page product-page">
    <section class="clean-block clean-product">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Добавить сотрудника</h2>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    <div th:if="${message}" class="alert alert-warning text-center" role="alert">
                        <strong th:text="${message}"></strong>
                    </div>

                    <div class="block-content rounded-3 p-3">
                        <form action="/humans/add/" method="post">
                            <div class="mb-3">
                                <label class="form-label" for="username">Логин</label>
                                <input class="form-control item" type="text" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Пароль</label>
                                <input class="form-control item" type="password" id="password" name="password" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="surname">Фамилия</label>
                                <input class="form-control item" type="text" id="surname" name="surname" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="name">Имя</label>
                                <input class="form-control item" type="text" id="name" name="name" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="patronymic">Отчество</label>
                                <input class="form-control item" type="text" id="patronymic" name="patronymic" required>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary w-50" type="submit">Добавить</button>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="col"></div>
            </div>

        </div>
    </section>
</main>

<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>